li{
    font-size: 20px;
}
a{
    font-size: 18px;
    margin: auto;
}

h1{
    text-align: center;
}

p.id{
    font-size: 20px;
}
h1.title{
    font-size: 30px;
    text-align: center;
    color: red;
}
